@media only screen and (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  #main-page-content {
    width: 100%;
    margin-top: 2rem;
    margin-left: 0;
  }

  /* -------- EDITOR SECTION -------- */

  .button__edit {
    height: 6rem;
    width: 6rem;
    padding: 1.5rem;
    bottom: 8rem;
  }

  .editor-section {
    margin: 0rem;
  }

  .editor-section__toolbar {
    padding: 1rem 2rem !important;
    flex-wrap: wrap;
  }

  .editor-section__menu {
    display: flex;
    align-items: center;
  }

  .editor-section__menu-icon {
    display: block;
    width: 3rem;
    margin-right: .5rem;
    cursor: pointer;
    filter: var(--icons);
  }

  .editor-section__menu::after {
    content: '';

    width: .7rem;
    height: .7rem;

    border-bottom: 2px solid rgb(var(--font-color));
    border-left: 2px solid rgb(var(--font-color));

    transform: rotate(-45deg);
  }

  .editor-section__menu-opened::after {
    transform: rotate(135deg);
    margin-top: .5rem;
  }

  .editor-section__button {
    height: 2.5rem !important;
    width: 2.5rem !important;
    padding: 0 !important;

  }

  .editor-section__button:not(:first-child) {
    margin-left: 1.5rem;
  }

  .editor-section__toolbar-group:first-child::-webkit-scrollbar {
    display: none;
  }

  .editor-section__title {
    margin: 5rem 1rem 1rem 1rem;
  }

  .editor-section__editor {
    margin: 1rem;
  }

  #editor-menu-item-show {
    order: 1;
    width: 49.5%;
    justify-content: flex-start;
  }

  .editor-options-menu {
    order: 3;
    height: 0;
    opacity: 0;
    display: none;
  }

  .editor-options-menu-show {
    height: auto;
    opacity: 1;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(var(--border));
    margin-top: .5rem;
    padding-top: 1rem;
  }

  .toolbar-group {
    margin: .5rem 0;
    display: flex;
    justify-content: space-evenly;
  }

  #editor-menu-item-save {
    order: 2;
    width: 50%;
    justify-content: flex-end;
  }

  /* -------- EDITOR SECTION END -------- */

  /* -------- SIDEBAR -------- */

  .sidebar {
    bottom: 0.75rem;
    width: 100%;
    height: 0;
    max-height: 99vh;
    margin-left: 0;
  }

  .sidebar-show {
    height: 100%;
  }

  #sidebar-settings {
    padding: 0;
  }

  #sidebar-notes {
    padding: 0;
  }

  /* -------- SIDEBAR END -------- */

  /* -------- LANDINGPAGE -------- */

  .landing-page {
    margin: 0 2rem;
    padding: 0 0;
    height: auto;
  }

  .landing-page__start {
    width: 100%;
    height: 50%;
    padding-right: 0;
  }

  .landing-page__latest-notes {
    width: 100%;
    padding-left: 0;
  }

  .notes__title::after {
    content: ' \00BB';
    opacity: 1;
    margin-left: 1rem;
  }

  /* -------- LANDINGPAGE END -------- */

  /* --------NOTE LIST -------- */

  .note-container {
    width: 100%;
  }

  .note-container__inner {
    width: calc(100% - 4rem);
    margin: 0 2rem;
  }

  .note-top-menu {
    padding: 2rem 2rem;
  }

  /* -------- NOTE LIST END -------- */

  /* -------- SETTINGS -------- */

  .settings__title {
    margin-left: 2rem;
  }

  .settings__font-list {
    padding: 1rem 2rem;
  }

  .settings__options {
    padding: 1rem 2rem;
  }

  .settings__heading {
    padding: 4rem 2rem;
  }

  /* -------- FOOTER -------- */

  #quire-footer {
    display: flex;
    height: 10rem;
  }

  /* -------- FOOTER END -------- */

  /* -------- SETTINGS END -------- */

}