:root {
  --primary-purple: #7A6CB1;
  --secondary-purple: #3D3658;
  --light-grey: #F8F8F8;
  --grey: #888;
  --dark-grey: #575757;
  --black: #171717;
}

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    transition: all .3s ease;
}

/* navbar */
.nav {
    height: 100vh;
    width: 8rem;

    display: flex;
    flex-direction: column;
    position: fixed;

    background-color: var(--primary-purple);
    box-shadow: .7rem 0 0 0 rgba(0,0,0,.1);

    z-index: 5;
}

.nav__logo {
    background-color: var(--secondary-purple);
    padding: 1rem;
    width: inherit;
}

#quire-symbol {
    fill: white;
    width: 100%;
}

.nav__link-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.nav__link-group li {
    list-style: none;
    padding: 2.5rem;
}

.nav__icon {
    width: 100%;
    filter: invert(1);
}

.nav__icon:hover {
    transform: scale(1.1);
}

/* Navbar end */

/* Burger */
.hamburger {
    width: 2rem;
    height: 2rem;
    display: none;
    position: relative;
    cursor: pointer;
}

.hamburger__inner {
    top: 50%;
    position: absolute;
}

.hamburger__inner::before,
.hamburger__inner::after {
    width: 2rem;
    height: 2px;
    content: "";
    position: absolute;
    display: block;
    background-color: white;
}

.hamburger__inner::before {
    transform: translateY(-.5rem);
}

.hamburger__inner::after {
    transform: translateY(.5rem);
}

.hamburger:hover .hamburger__inner::before {
    transform: translateY(-.8rem);
}

.hamburger:hover .hamburger__inner::after {
    transform: translateY(.8rem);
}

.hamburger__top,
.hamburger__middle,
.hamburger__bottom {
    width: 2rem;
    height: 1px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger:hover .hamburger__top {
    transform: translateY(-3px);
}

.hamburger:hover .hamburger__bottom {
    transform: translateY(3px);
}


/* Burger end */




/* Small screen */
@media screen and (max-width:768px) {
    body {
        flex-direction: column;
        overflow-x: hidden;
    }

    .nav {
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .nav__logo {
        background-color: #3D3658;
        padding: 1rem;
        height: 4rem;
        width: 4rem;
    }

    #quire-symbol {
        fill: white;
        height: 100%;
    }

    .nav__link-group {
        display: none;
        width: 100%;
    }

    .nav__icon {
        width: 2.5rem;
    }


    .hamburger {
        display: inline-block;
        margin: 1rem;
    }


    .nav-active {
        transform: translateX(0%);
        width: 100%;
        background-color: #7A6CB1;
        display: flex;
        z-index: 5;
    }


    /* Small screen ends */
    /* Rotation of the Hamburger */

    .hamburger-toggle .hamburger__inner::before {
        transform: translateY(0px) rotate(45deg);
    }

    /*  .hamburger-toggle .hamburger__middle {
        opacity: 0;
    } */

    .hamburger-toggle .hamburger__inner::after {
        transform: translateY(0px) rotate(-45deg);
    }
}

/* Rotation of the Hamburger END*/

/* ANIMATIONS */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* ANIMATIONS END */