:root {
  --primary-purple: #7A6CB1;
  --secondary-purple: #3D3658;
  --light-grey: #F8F8F8;
  --grey: #888;
  --dark-grey: #575757;
  --black: #171717;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  display: flex;
  background-color: var(--color-primary)
}

h2 {
  font-size: 1.7rem;
}

#save-btn {
  font-family: inherit;
  font-size: 20px;
  border: 1px solid var(--black);
}

#save-btn:hover {
  background-color: var(--color-accent);
}

/* ------------- EDITOR SECTION -------------*/

.editor-section {
  margin: 5rem auto 0;
  width: 60rem;
  display: flex;
  flex-direction: column;
}

.editor-section__title {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: var(--font-color);
  background-color: var(--color-primary);
  padding: 1rem 0;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  border: 0;
}

.editor-section__title:focus {
  outline: none;
  border: 2px solid var(--color-secondary);
  padding-left: 1rem;
}

.editor-section__editor {
  width: 100%;
  height: 442px;
  max-height: 842px;
}

/* ------------- EDITOR SECTION END -------------*/

@media print {
  .nav, #note-list, .ql-toolbar, button, a, .editor-section__title, .sidebar-show, .sidebar::-webkit-scrollbar {
   display: none;
 }

 #editor-code {
   border: 0;
   overflow: hidden;
   height: auto;
 }

 @page {
   size: auto;
   margin: 2cm;
 }
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }
}

.nav-active {
  transform: translateX(0%)
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

#printerButton {
  float: right;
  width: 2.5rem;
  height: 2.5rem;
}

/* ------------- NAVBAR DESIGN ENDS -------------*/


/* ------------- SETTINGS DESIGN -------------*/

.switch {
  margin-right: 1.7rem;
  position: relative;
  display: block;
  float: right;
  width: 3rem;
  height: 1.7rem;
}
.switch:nth-of-type(3){
 margin-top:2rem;
}
#sidebar-settings{
    margin: 0;
  }

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:4rem;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 2.3rem;
  width: 2.3rem;
  left: -0.3rem;
  bottom: -.3rem;
  background-color: var(--secondary-purple);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked+.slider {
  background-color: #ccc;
}
input:checked+.slider::before{
  background-color: #2d862d;
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--primary-purple);
}

input:checked+.slider:before {
  -webkit-transform: translateX(2.4rem);
  -ms-transform: translateX(2.4rem);
  transform: translateX(2.4rem);
}

.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}

label[for="auto-save"]{
  float: left;
    margin-top: -0.5rem;
    padding-left: 0.5rem;
}

label[for="theme"]{
  float: left;
  padding: 0;
  margin-top: 1.5rem;
  padding-left: 0.5rem;
}
@media screen and (max-width:768px) {
  #sidebar-settings{
    position: absolute;
    margin-top: 27.5rem;
  }
}

/* ------------- NAVBAR DESIGN ENDS -------------*/

/* ------------- MODAL DESIGN ENDS -------------*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--light-grey);
  margin: auto;
  color: var(--black);
  padding: 2rem; 
  height: 100%;
  margin-left: 8rem;
  width: 25rem;
}
.modal-content h1{
  font-size: 2.5rem;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}
#note-list div{
  padding: 20px;
}
#note-list div h3{
  font-size: 30px;
}
#note-list div p{
  font-size: 15px;
}

/* ------------- MODAL DESIGN ENDS -------------*/

/* ------------- Notes Navigation Design -------------*/

.sidebar { 
  background-color: var(--color-secondary);
  min-height: 100vh;
  max-height: 100vh;
  width: 0;
  overflow: hidden scroll;
  overflow-wrap: break-word;
  opacity: 0;
  transition: all 0.2s linear;
}

.sidebar-show {
  width: 25rem;
  opacity: 1;
  transition: all 0.2s linear; 
}

.sidebar::-webkit-scrollbar {
  width: 20px;
}

.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #222; 
  border-radius: 1rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 1rem;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.aside__note-list {
  list-style: none;
  position: relative;
  overflow: hidden;
}

.aside__note-list li {
  padding: 2rem;
  height: auto;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid var(--black);
}

.aside__note-list li {
  background-color: var(--color-secondary)
}

.aside__note-list h2 {
  font-size: 2rem;
}

.aside__note-list p {
  font-size: 1.45rem;
}

.aside__note-list li > * {
  margin-bottom: 0.5rem;
}

.aside__note-list li:hover {
  background-color: var(--color-accent);
}

.aside__settings-list h3 {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.aside__settings-list label {
  font-size: 2rem;
}

.aside__note-list li h3 {
  font-weight: bold;
}

.aside__note-list li:after {
  width: 5rem;
  height: .5rem;
  background-color: var(--black);
}

@media screen and (max-width:768px) {
  .sidebar {
    width: 100%;
  }
}

:focus {
  outline:none;
}

::-moz-focus-inner {
  border:0;
}

.note-button-group {
  cursor: pointer;
  outline: 0;
  position: absolute;
  border: none;
  right: 0;
  margin-right: 2.5rem;
  background-color: wheat;
  font-size: 1.5rem;
  width: 2rem;
  border-radius: 50%;
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition: all 0.5s ease;
}

.group-button-show {
  transform: translateX(-12rem);
  -ms-transform: translateX(-12rem);
  -webkit-transform: translateX(-12rem);
  transition: all 0.5s ease;
}


/* ------------- Notes Navigation Design Ends -------------*/

/* OVERRIDE QUILL DESIGN */
#ql-picker-options-0 {
  background-color: var(--color-primary);
}

.ql-picker-item:hover {
  background-color: var(--color-accent);
}

/* END OVERRIDE QUILL DESIGN */

.theme-light {
  --color-primary: #fff;
  --color-secondary: var(--);
  --color-accent: var(--light-grey);
  --font-color: #000000;
}

.theme-dark {
  --color-primary: var(--black);
  --color-secondary: var(--dark-grey);
  --color-accent: var(--grey);
  --font-color: #fbfbfb;
}