*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

#save-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: 1px solid black;
}

#save-btn:hover {
  background-color: lightgray;
}

#editor-main {
  width: 594px;
  height: 442px;
  max-height: 842px;
}

.note-list:empty {
  display: none;
}

.container {
  margin-top: 50px;
  width: calc(100% - 5rem);
  display: flex;
  flex: 1 1 auto;
}

@media print {
  body * {
    visibility: hidden;
  }

  #editor-code * {
    visibility: visible;
    height: auto;
    overflow: hidden;
  }

  @page {
    margin: 0;
  }
}

/* ------------- NAVBAR DESIGN ------------- */

/* the nav bar */
/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

} */

/* inside the navbar*/
/* .sidebar {
  display: flex;
  flex-direction: column;

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: blue;
  width: 5rem;
}
 */
/* The logo "MENU" in the navbar */
/* .logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
} */

/* links in the navbar (the buttons/logos) */
/* .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 20%;
} */

/* .nav-links li {
  list-style: none;
} */

/* .nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
} */

/* .burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
} */

/* SVG images*/
/* .svg-img {
  width: 100%;
  padding: 1.5rem;
}

@media screen and (max-width:1024px) {
  .nav-links {
    width: 60%;
  }
} */

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  /* .nav-links {
    position: absolute;
    left: 0px;
    height: 92vh;
    top: 8vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    list-style: none;
  }

  .nav-links li {
    opacity: 0;
  }
 */
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%)
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Rotation of the Hamburger */
/* 
.burgertoggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burgertoggle .line2 {
  opacity: 0;
}

.burgertoggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
} */

/* ------------- NAVBAR DESIGN ENDS -------------*/


/* ------------- SETTINGS DESIGN -------------*/

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.7rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  left: .2rem;
  bottom: .2rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(1.3rem);
  -ms-transform: translateX(1.3rem);
  transform: translateX(1.3rem);
}

.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------- NAVBAR DESIGN ENDS -------------*/

/* ------------- MODAL DESIGN ENDS -------------*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ------------- MODAL DESIGN ENDS -------------*/