/* -------------  VARIABLES ------------- */

:root {
  --primary-purple: #7A6CB1;
  --secondary-purple: #3D3658;
  --light-grey: #F8F8F8;
  --grey: #888;
  --dark-grey: #575757;
  --black: #171717;
  --green : #A6C48A;
}

.theme-light {
  --color-primary: #fff;
  --color-secondary: var(--light-grey);
  --color-accent: var(--light-grey);
  --logo-color: var(--secondary-purple);
  --font-color: #000000;
  --body-font: 300;
}

.theme-dark {
  --color-primary: var(--black);
  --color-secondary: var(--dark-grey);
  --color-accent: var(--grey);
  --logo-color: #fbfbfb;
  --font-color: #fbfbfb;
  --body-font: 400;
}


/* -------------  VARIABLES END ------------- */

/* -------------  BASIC SETTINGS ------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: var(--body-font);
  overflow-x: hidden;
}

body {
  display: flex;
  background-color: var(--color-primary);
}

h2 {
  font-size: 1.7rem;
}

/* -------------  BASIC SETTINGS END ------------- */

/* -------------  TYPOGRAPHY ------------- */

.heading-primary {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;

  color: var(--primary-purple);
}

.paragraph-lead {
  font-family: inherit;
  font-size: 1.7rem;
  color: var(--font-color);
}

/* -------------  TYPOGRAPHY END -------------*/

/* -------------  ANIMATIONS ------------- */

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideDown {
  0%    {opacity: 1; transform: translateY(0);}
  100%  {opacity: 0; transform: translateY(100rem);}
}

.slideDown {
  animation: slideDown 1s ease;
}

@keyframes fadeIn {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

.fadeIn {
  animation: fadeIn .5s ease;
  animation-fill-mode: backwards;
}

/* -------------  ANIMATIONS END ------------- */

/* -------------  BUTTONS ------------- */


/* -------------  BUTTONS ENS ------------- */

/* ------------- EDITOR SECTION -------------*/

.editor-section {
  margin: 5rem 15rem;
  display: none;
  flex-direction: column;
}

.editor-section__title {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: var(--font-color);
  background-color: var(--color-primary);
  padding: 1rem 0;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  border: 0;
}

.editor-section__title:focus {
  outline: none;
  border: 2px solid var(--primary-purple);
  padding-left: 1rem;
}

.editor-section__editor {
  width: 100%;
  height: 442px;
  max-height: 842px;
}

.editor-section__menu {
  border: 1px solid #ccc;
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editor-section__button {
  -webkit-appearance: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 1.2rem;
  color: var(--grey);

  border: none;
  border-right: 1px solid #ccc;

  padding: 1rem;
}

.editor-section__button:hover,.editor-section__print:hover {
  background-color: var(--primary-purple);
  color: white;
}

.editor-section__print {
  -webkit-appearance: none;
  cursor: pointer;

  border: none;
  border-left: 1px solid #ccc;
  padding: 0 1rem;
}

.editor-section__print:hover .editor-section__print-icon {
  filter: invert(1);
}

.editor-section__print-icon {
  height: 2rem;
  filter: invert(.8);
}

#save-btn::after {
   content: ' \2713';
   color: white;
   display: none;
   animation: saved 2s ease infinite;
}

@keyframes saved {
  0%    {opacity: 0;}
  20%   {opacity: 1;}
  90%   {opacity: 1;}
  100%  {opacity: 0;}
}

/* ------------- EDITOR SECTION END -------------*/

@media print {
  .nav, #note-list, .ql-toolbar, button, a, .editor-section__title, .sidebar-show, .sidebar::-webkit-scrollbar {
    display: none;
  }

  #editor-code {
    border: 0;
    overflow: hidden;
    height: auto;
  }

  @page {
    size: auto;
    margin: 2cm;
  }
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }
}

.nav-active {
  transform: translateX(0%)
}


/* ------------- NAVBAR DESIGN ENDS -------------*/


/* ------------- SETTINGS DESIGN -------------*/

.switch {
  margin-right: 20px;
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.7rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:4rem;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 2.3rem;
  width: 2.3rem;
  left: -0.3rem;
  bottom: -.3rem;
  background-color: var(--secondary-purple);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--primary-purple);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--primary-purple);
}

input:checked+.slider:before {
  -webkit-transform: translateX(2.4rem);
  -ms-transform: translateX(2.4rem);
  transform: translateX(2.4rem);
}

.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------- NAVBAR DESIGN ENDS -------------*/

/* ------------- Notes Navigation Design -------------*/

.sidebar { 
  background-color: var(--color-secondary);
  width: 0;
  height: 100vh;
  margin-left: 8rem;
  position: fixed;
  z-index: 4;
  overflow: hidden scroll;
  overflow-wrap: break-word;
  opacity: 0;
  box-shadow: .7rem 0 0 0 rgba(0,0,0,.1);
  transition: width .3s ease, opacity .3s ease;
}

.sidebar-show {
  width: 30rem;
  opacity: 1;
  transition: all .3s ease;
}

.sidebar::-webkit-scrollbar {
  width: 1rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 1rem;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.aside__note-list {
  list-style: none;
  position: relative;
  overflow: hidden;
}

.aside__note-list li {
  padding: 2rem;
  height: auto;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid var(--black);
}

.aside__note-list li {
  background-color: var(--color-secondary)
}

.aside__note-list h2 {
  font-size: 2rem;
}

.aside__note-list p {
  font-size: 1.45rem;
}

.preview-highlight {
  background-color: lime;
}

.aside__note-list li > * {
  margin-bottom: 0.5rem;
}

.aside__note-list li:hover {
  background-color: var(--color-accent);
}

.aside__settings-list h3 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.aside__settings-list label {
  font-size: 2rem;
}

.aside__note-list li h3 {
  font-weight: bold;
}

.aside__note-list li:after {
  width: 5rem;
  height: .5rem;
  background-color: var(--black);
}

@media screen and (max-width:768px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: 0;
    max-height: 30vh;
    margin-left: 0;
    opacity: 0;
    box-shadow: 0 5px #000;
    transition: height .3s ease, opacity .3s ease;
  }
  
  .sidebar-show {
    height: auto;
    opacity: 1;
    transition: all .3s ease;
  }
}

.note-button-group {
  cursor: pointer;
  outline: 0;
  position: absolute;
  border: 1px solid var(--black);
  right: 0;
  margin-right: 2.5rem;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition: all 0.5s ease;
}

.group-button-show {
  transform: translateX(-12rem);
  -ms-transform: translateX(-12rem);
  -webkit-transform: translateX(-12rem);
  transition: all 0.5s ease;
}


/* ------------- Notes Navigation Design Ends -------------*/

/* ------------- Search Input Field Design -------------*/

#search {
  width: 100%;
  height: 4%;
}

/* ------------- Search Input Field Design Ends -------------*/

/* OVERRIDE QUILL DESIGN */
#ql-picker-options-0 {
  background-color: var(--color-primary);
}

.ql-picker-item:hover {
  background-color: var(--color-accent);
}

/* END OVERRIDE QUILL DESIGN */

/* ------------- Notes Navigation Design Ends -------------*/

/* ------------- MAIN PAGE CONTENT -------------*/

#main-page-content {
  width: 100%;
  margin-left: 8rem;
}

@media only screen and (max-width:768px){
  #main-page-content {
    margin-top: 2rem;
    margin-left: 0;
  }
}

/* ------------- MAIN PAGE CONTENT END -------------*/

/* ------------- LANDING PAGE -------------*/

.landing-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto 15rem;
  padding: 5rem 0;
  height: 100vh;
}

.landing-page__heading {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;

  color: var(--primary-purple);
  border-bottom: 1px solid var(--grey);

  padding-left: 1rem;
}

.landing-page__heading--primary {
  margin-top: -3rem;
}

@media only screen and (max-width:768px){
  .landing-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto 1rem;
    padding: 0 0;
    width: 100%;
    height: auto;
  }

  .landing-page__heading {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;

    color: var(--primary-purple);
    border-bottom: 1px solid var(--grey);

    padding-left: 1rem;
  }
}

/* Landing Page Sections */

.landing-page__start {
  width: 50%;
  padding-right: 1rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-page__latest-notes {
  width: 50%;
  height: 100%;
  padding-left: 5rem;
  padding-top: 10rem;
}

@media only screen and (max-width:768px){
  .landing-page__start {
    width: 100%;
    height: 50%;
    padding-right: 1rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .landing-page__latest-notes {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-top: 10rem;
  }
}

/* Landing Page Start Section */

.landing-page__img-note{
  width: 83%;
}

.landing-page__intro {
  margin-top: 2rem;
}

.landing-page__button-list {
  display: flex;
  flex-direction: row;

  margin-top: 5rem;
}

.landing-page__button {
  border: none;
  border-radius: 1rem;
  background-color: var(--primary-purple);

  cursor: pointer;

  padding: 1rem;
  min-width: 9rem;

  font-family: inherit;
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page__button:not(:first-child){
  margin-left: 1rem;
}

.landing-page__icon {
  filter: invert(1);
  width: 5rem;
  margin-bottom: 1rem;
}

.landing-page__button:hover {
  background-color: var(--secondary-purple);
}


/* ------------- LANDING PAGE END -------------*/

/* ------------- LANDING PAGE NOTES -------------*/

.notes {
  margin: 2rem 0 1rem;
  cursor: pointer;
}

.notes__title {
  font-weight: 400;
  font-size: 2rem;
  color: var(--font-color);
  margin-bottom: .2rem;
}

.notes__title::after {
  content:' \00BB';
  opacity: 0;
  transition: all .3s ease;
}

.notes__title:hover::after {
  content:' \00BB';
  opacity: 1;
  margin-left: 1rem;
}

.notes__lastChanged {
  font-size: 1.3rem;
  color: var(--dark-grey);
  margin-bottom: 1rem;
}

.notes__content {
  font-size: 1.3rem;
  color: var(--font-color);
  max-height: 10rem;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

/* ------------- LANDING PAGE NOTES END -------------*/
